.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.form-main {
    background: var(--blue-grotto);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;;
}

