#auth p{
    font-size: 18px;
    text-decoration: none;  
    border-radius: 20px;
    flex-shrink: 3;
    background-color: #1ED760;
    padding: 12px;
    text-align: center;
    margin-right: 8px;
}
#auth {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    #auth p {
        font-size: 14px;
        font-weight: bold;
        margin-right: 0;
        padding: 8px;
    }
}