#auth-btn {
    font-size: 26px;
    text-decoration: none;    
}

.auth-btn-container {
    width: fit-content;
    background-color: #1ED760;
    border-radius: 20px;
    padding: 6px;
    height: 80px;
    margin-left: auto;
    margin-right: 20px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    flex-shrink: 1;
}


@media only screen and (max-width: 600px) {
    #auth-btn {
        font-size: 16px;
        flex-shrink: 1;
        display: inline-block;
        width: 100%;
    }
}