#auth p{
    font-size: 18px;
    text-decoration: none;  
    border-radius: 20px;
    flex-shrink: 3;
    background-color: #1ED760;
    padding: 16px;
    text-align: center;
    margin-right: 8px;
    position: fixed;
    bottom: 32px;
    right: 0;
    font-weight: bold;
}
#auth {
    text-decoration: none;
}