.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.input-container input, textarea {
    height: 32px;
    text-align: center;
    margin: 6px 0;
}
.input-container textarea {
    padding: 8px 0;
}

.input-container-error {
    position: absolute;
    color: var(--error-color);
    font-size: 16px;
    align-self: baseline;
    padding-bottom: 32px;
    justify-self: flex-start;
    margin-left: 40px;
}
.error {
    border: 2px solid var(--error-color);
    color: black;
}
.formInput {
}

.formInput {
    width: 100%;
    height: 26px;
    border-radius: 20px;
    outline: none;
    padding-left: 8px;
    color: black;
    border: 2px solid var(--primary-color);
}
label {
    font-size: 24px;
}
@media only screen and (max-width: 600px) {

}