.input-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.input-container input, textarea {
    height: 32px;
    text-align: center;
    margin: 6px 0;
}
.input-container textarea {
    padding: 8px 0;
}

.input-container-error {
    position: absolute;
    color: var(--error-color);
    font-size: 16px;
    align-self: baseline;
    padding-bottom: 32px;
    justify-self: flex-start;
    margin-left: 40px;
}
.error {
    border: 2px solid var(--error-color);
    color: black;
}
