.togglableBtn {
    position: fixed;
    bottom: 0;
    right: 0;
    width: max-content;
    padding: 8px 20px;
    margin: 24px;
    box-sizing: content-box;
    text-align: center;
    line-height: 32px;
    border-radius: 40px;
    border: 2px solid white;
    background-color: var(--light-color);
    font-size: 20px;
    font-weight: bolder;
}