.navbar-main {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    height: 110px;
    margin-bottom: 8px;
}

#logo {
    margin-left: auto;
    padding-right: 12px;
    height: 80px;
    width: 80px;
}

.navbar-links .navbar-link li {
    text-decoration: none;
    color: white;
    padding: 8px;
}

.navbar-link a {
    text-decoration: none;
}
.navbar-links {
    list-style-type: none;
}
.navbar-links li {
    font-size: 26px;
    padding: 12px 10px;
}
.navbar-desktop {
    display: none;
}

.navbar-links > * {
    cursor: pointer;;
}
#logo {
    margin-right: 18px;
}
.burger-main {
    margin-left: 12px;
}
.burger-content {
    width: 100%;
    overflow: hidden;
    left: 0;
}
.burger-line {
    width: 30px;
    height: 14px;
    background-color: var(--light-color);
    margin-bottom: 4px;
    cursor: pointer;
}

.burger-content {
    margin-top: 14px;
    position: absolute;
    background-color: var(--light-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

@media only screen and (min-width: 600px) {
    .navbar-desktop {
        display: inline;
    }
    .navbar-main {
        justify-content: space-between;
    }
    #logo {
        margin-left: 25px;
    }
    .navbar-links {
        display: flex;
        margin-right: 25px;
    }
    .navbar-links li:hover {
        border-bottom: 2px solid black;
    }
    .burger-main {
        display: none;
    }
}