.navbar-link-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    margin-top: 60px;
    top: 0;
    width: 100%;
    padding: 12px 8px;
    box-sizing: border-box;
    background-color: var(--light-color);
}

.nav-link a {
    text-decoration: none;
    color: white;
}

.navbar-link-container li {
    list-style: none;
    font-size: 16px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    gap: 24px;
    padding: 8px 0;
    background-color: var(--primary-color);
}
#logo {
    display: none;
}
.burger-line {
    background-color: var(--light-color);
    height: 6px;
    width: 12px;
    margin-top: 4px;
}
#search {
    height: 24px;
    border: 2px solid var(--light-color);
    background-color: transparent;
    padding-left: 8px;
    outline: none;
    font-weight: 900;
    flex-grow: 1;
    max-width: 500px;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    height: 60px;
    margin-right: 8px;
    width: clamp(200px, 100%, 500px);
    margin-top: auto;
    position: relative;
    width: 100%;
}
.search-image {
    height: 22px;
    width: 22px;
}

.search-main {
    z-index: 100;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    width: clamp(200px, 100%, 500px);
}
.user-search {
    background-color: var(--light-color);
    position: absolute;
    margin-top: 140px; 
    padding-top: 4px;
    width: inherit;
    height: 100px;
    overflow: scroll;
    justify-self: flex-start;
}
.user-search a {
    display: block;
    text-decoration: none;
    padding: 2px 0 2px 8px;
    
}
@media only screen and (min-width: 600px) {
    .burger-line {
        display: none;
    }
    #navbar {
        justify-content:space-between;
        box-sizing: border-box;
        padding: 12px 12px;
        height: auto;
    }
    .navbar-link-container {
        position: relative;
        margin-top: 0;
        flex-direction: row;
        align-items: center;
        width: max-content;
        height: 100%;
        display: flex !important;
        background-color: transparent;
    }
    .navbar-link-container li {
        font-size: 19px;
    }
    .navbar-link-container li:hover {
        border-bottom: 2px solid var(--light-color);
        cursor: pointer;
    }
    #logo {
        width: 40px;
        height: 40px;
        display: block;
    }
}