.navbar-main {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: auto;
}

#logo {
    margin-left: auto;
    padding-right: 12px;
    color: var(--light-color);
}

.navbar-link a {
    text-decoration: none;
    font-size: 16px;
}
.navbar-link a:hover {
    border-bottom: 2px solid var(--blue-green);
    padding-bottom: 2px;
}
.navbar-link-container {
    display: none;
    justify-content: space-around;
    width: 50%;
}

@media only screen and (min-width: 600px) {
    .navbar-link {
        display: block;
    }
    .navbar-link-container {
        display: flex;
    }
    .navbar-main {
        justify-content: space-between;
    }
    #logo {
        margin: 0;
        padding-left: 12px;
    }
} 