.message {
    top: 65px;
    width: 100%;
}


.message-text {
    height: 40px;
    text-align: left;
    font-size: 24px;
    border-radius: 32px;
    margin: 0 20px;
    padding: 6px;
    text-align: center;
    height: auto;
}

@media only screen and (min-width: 600px) {
    .message {
        position: absolute;
        width: 400px;
        right: 0;
    }
    .message-text {
        text-align: left;
        padding: 12px;
    }
}