.message {
    width: 100%;
    position:fixed;
    top: 80px;
}


.message-text {
    text-wrap: wrap;
    height: 40px;
    text-align: left;
    font-size: 24px;
    border-radius: 20px;
    margin: 4px 20px;
    padding: 6px;
    text-align: center;
    height: auto;
    word-break: break-all;
}
div.scroll {
    top: 0;
}
@media only screen and (min-width: 600px) {
    .message {
        max-width: 400px;
        margin-top: 12px;
        right: 0;
    }
}
