.navbar-main {
    background-color: var(--navy-blue);
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: auto;
}

#logo {
    margin-left: auto;
    padding-right: 12px;
}
.navbar-link {
    color: red;
}
.navbar-link {
    text-decoration: none;
}
a {
    color: white;
}
.navbar-link-container {
    display: none;
    justify-content: space-around;
    border: 2px solid red;
    width: 50%;

}

@media only screen and (min-width: 600px) {
    .navbar-link {
        display: block;
        color: white;
    }
    .navbar-link-container {
        display: flex;
    }
    .navbar-main {
        justify-content: space-between;
    }
    #logo {
        margin: 0;
        padding-left: 12px;
    }
} 