.burger-line {
    width: 20px;
    height: 6px;
    background-color: var(--light-color);
    margin-bottom: 4px;
    cursor: pointer;
}

.burger-content {
    margin-top: 14px;
    position: absolute;
    background-color: var(--light-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.burger-link {
    text-decoration: none;
    font-size: 18px;
    padding-left: 16px;
}
.burger-link:first-child {
    padding-top: 12px;
}
.burger-link:last-child {
    padding-bottom: 12px;
}
@media only screen and (min-width: 600px) {
    .burger-main {
        display: none;
    }
    .burger-content {
        display: none;
    }
}