.postbox {
    background: linear-gradient(0deg, var(--primary-color) 70%, var(--light-color) 100%);     padding: 20px 16px;
    height: auto;
    margin: 12px;
    flex-grow: 1;
    border-radius: 20px;
    min-width: 450px;
    box-shadow: inset 20px 20px 20px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
}

.description {
    padding: 12px 0;
    word-wrap: break-word;
}

.box-link {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .postbox {
        width: 100%;
        min-width: 0;
        border: 2px solid red;
    }
 }