.postheader-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.postheader-top {
    display: flex;
    justify-content: space-between;
}

.delete-button {
    width: min-content;
    margin-left: auto;
    padding: 4px;
    color: black;
}