.content-container {
    background: linear-gradient(0deg, var(--primary-color) 70%, var(--light-color) 100%);
    box-shadow: inset 20px 20px 20px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 16px;
    border: 1px solid white;
    margin: 0 4px;
    padding: 12px 8px 12px 8px;
    max-width: 540px;
    border: 1px solid red;
    width: 100%;
    max-height: 200px;
}
.content-header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.content-header a {
    text-decoration: none;
}
.content-header a:hover {
    text-decoration: underline;
}
.content-song-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    margin-top: 8px;
}
.content-song-container .buttonContainer {
    height: 14px;
    align-items: center;
    border-color: white;
    margin: 0 12px 0 auto;
}
.song-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.box-link {
    text-decoration: none;
}

.song-box {
    display: flex;
    gap: 10px; 
    align-items: center;
    padding: 8px 4px;
}