.postheader-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 10px;
    width: 100%;
}

.postheader-top {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

.delete-button {
    width: min-content;
    margin-left: auto;
    padding: 4px;
    color: black;
}