.main-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.view-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.post-main {
    border-radius: 20px;
    background-color: var(--primary-color);
    margin-top: 20px;
    padding: 16px;
    border: 1px solid white;
}
.top-inner {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
}

.progressBar {
    border-radius: 20px;
    padding: 2px;
    width: 100%;
    height: 20px;
    border: 2px solid white;
}
.progress {
    border-radius: 20px;
    background-color: var(--light-color);
    height: 20px;
}
.post-player {
    display: flex;
    gap: 20px;
}
@media only screen and (min-width: 600px) {
    .post-main {
        min-width: 600px;
        width: 800px;
    }
}