.buttonContainer {
    width: max-content;

    margin: 14px;
    box-sizing: content-box;
    border-radius: 40px;
    border: 2px solid white;
    background-color: var(--light-color);
    font-size: 20px;
    
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    padding: 14px;
}
.buttonText {
}