.edit-container {
    padding-right: 16px;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 14px;
    flex: 1;
}         
.edit {
    text-transform: uppercase;           
    font-size: 14px;
}
 