.edit-container {
    padding-right: 16px;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 14px;
    flex: 1;
}

.delete-btn {
    background-color: var(--error-color);
}
.edit-btn {
    background-color: var(--light-color);
}
         
.edit {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    color: white;            
    border-radius: 10px;
    border: 0;
    font-size: 14px;
    font-weight: bold; 
    min-width: 0;
}
 