.profile-container {
    padding: 0 8px;
}
.profile-items {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userimage {
    height: 80px;
    width: 80px;
    background-color: black;
    border-radius: 40px;
}
.profile-info {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.profile-select {
    background-color: var(--primary-color);
    height: 40px;
    width: clamp(100px, max-content, 200px  );
    font-size: 24px;
    padding: 0 10px;
}

#auth-btn {
    font-size: 26px;
    text-decoration: none;    
}

.auth-btn-container {
    width: fit-content;
    background-color: #1ED760;
    border-radius: 20px;
    padding: 6px;
    height: 80px;
    margin-left: auto;
    margin-right: 20px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    flex-shrink: 1;
}
.filter-container {
    display: flex;
    background-color: var(--primary-color);
    font-size: 24px;
    gap: 16px;
    justify-content: center;
    cursor: pointer;
}
.filter-item {
    background-color: var(--primary-color);
    border: 0px;
    font-size: 24px;
    padding-bottom: 4px;
    box-sizing: content-box;
}
.filter-item:active {
    border-bottom: 4px solid var(--light-color);
}

.myprofile-header {
    display: flex;
    align-items: center;
}