.filter-container {
    display: flex;
    background-color: var(--primary-color);
    font-size: 24px;
    gap: 16px;
    justify-content: center;
    cursor: pointer;
}
.filter-item {
    background-color: var(--primary-color);
    border: 0px;
    font-size: 24px;
    padding-bottom: 4px;
    box-sizing: content-box;
}
.filter-item:active {
    border-bottom: 4px solid var(--light-color);
}
.profile-container {
    padding: 0 8px;
}
.profile-items {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-select {
    background-color: var(--primary-color);
    height: 40px;
    width: clamp(100px, max-content, 200px  );
    font-size: 24px;
    padding: 0 10px;
}