.userimage {
    height: 80px;
    width: 80px;
    border-radius: 40px;
}
.profile-header-container {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.profile-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 18px;
    gap: 20px;
}
.profile-music-container {
    width: auto;
    margin-right: 20px;
}

@media only screen and (max-width: 600px) {
    .profile-header-container {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .profile-info {
        border-bottom: 2px solid white;
    }
}