.filter-container {
    display: flex;
    background-color: var(--primary-color);
    font-size: 24px;
    gap: 16px;
    justify-content: center;
    cursor: pointer;
}
.filter-item {
    background-color: var(--primary-color);
    border: 0px;
    font-size: 24px;
    padding-bottom: 4px;
    box-sizing: content-box;
}

.profile-container {
    padding: 0 8px;

}

.underline {
    border-bottom: 2px solid white;
    margin-bottom: 4px;
}

@media only screen and (max-width: 600px) {
    .profile-content-container {
        width: 100%;
    }   
 }