.filter-container {
    display: flex;
    background-color: var(--primary-color);
    font-size: 24px;
    gap: 16px;
    justify-content: center;
    cursor: pointer;
}
.filter-item {
    background-color: var(--primary-color);
    border: 0px;
    font-size: 24px;
    padding-bottom: 4px;
    box-sizing: content-box;
}

.profile-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    gap: 20px;
    box-sizing: border-box;
}
.profile-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.underline {
    border-bottom: 2px solid white;
    margin-bottom: 4px;
}

@media only screen and (max-width: 600px) {
    .profile-content-container {
        width: 100%;
    }   
    .profile-content {
        padding: 0 20px;
    }
 }