.userimage {
    height: 80px;
    width: 80px;
    border-radius: 40px;
}
.profile-header-container {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 20px 0;
    justify-content: space-between;
    align-items: center;
}

.profile-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 12px;
    gap: 20px;
}
.profile-info > div > h2 {
    margin-bottom: 4px;
}
.profile-music-container {
    margin-right: 20px;
}
.profile-music-container p {
    font-size: 16px;
    margin-bottom: 8px;
}
@media only screen and (max-width: 600px) {
    .profile-header-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .profile-info {
        border-bottom: 2px solid white;
    }
    .profile-music-container {
        margin: 0;
        width: 90%;
    }
}