.App {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--secondary-color);
}

.main {
    flex: 1 0 auto;
    height: 100%;
    margin-bottom: 40px;
    position: relative;
}
