:root {
  --primary-color: #0b132b;
  --secondary-color: #1c2541;
  --light-color: #4498ff;
  --error-color: #ff0000;
}
* {
  margin: 0;
  padding: 0;
  color: white;
}
body {
  background-color: var(--secondary-color);
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
