.frontpage-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: center;
    gap: 20px;
}