.post-form-main-container {
    background-color: var(--primary-color);
    opacity: 92%;
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}
.post-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    max-width: 540px;
    width: 100%;
}

.songs-container {
    border: 1px solid white;
    width: 100%;
    max-width: 540px;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
}
.postform-error {
    color: var(--error-color);
}
