.postform-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 8px 16px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    opacity: 92%;
}
.formInput {
    height: 30px;
    padding-left: 12px;
}
.textarea {
    padding: 12px 8px;
    height: 60px;
    box-sizing: border-box;
}
.input-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post-form {
    width: 100%;
    max-width: 700px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    
}
.song-container {
    background-color: var(--secondary-color);
    cursor: pointer;    
    margin-top: 16px;
    width: 100%;
    max-width: 700px;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
}

.song-description {
    width: 60%;
    padding: 12px;
    border-left: 2px solid white;
}
.song-container > img {
    border-radius: 60px;
    padding: 8px;
    height: 60px;
    width: 60px;
}