on:
  push:
    branches:
      - master
jobs:
  testings:
    runs-on: ubuntu-latest
    env:
      DATABASE_URL_TEST: postgres://postgres:postgres@postgres:5432/postgres
      SECRET: yello
    container: node:20
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_PASSWORD: postgres

        ports:
          - 5432:5432
        options: 
          --health-cmd pg_isready 
          --health-interval 10s 
          --health-timeout 5s 
          --health-retries 5
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: '20'
    - name: Install dependencies backend
      working-directory: ./backend
      run: npm install
    - name: Lint backend
      working-directory: ./backend
      run: npm run lint      
    - name: Test backend
      working-directory: ./backend
      run: npm run test

    - name: Install dependencies frontend
      working-directory: ./frontend
      run: npm install
    - name: Lint frontend
      working-directory: ./frontend
      run: npm run lint

  build:
    runs-on: ubuntu-latest
    needs: [testings]
    steps:
      - name: Deploy to production
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.RENDER_SERVICE_ID }}
          api-key: ${{ secrets.RENDER_API_KEY }}